body,main{
    background-color: #F3F9FF;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textoPrincipal{
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.Contador{
    font-size: 100px;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: row;
}

.botones button{
    margin: 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    letter-spacing: 5px;
    border: 3px solid;
}

.ParteAnterior{
  padding-top: 10px;
  text-decoration: none;
  color: black;
}