body{
  background-color: #F3F9FE;
}

main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.textoPrincipal{
  width: 100%;
  font-size: 40px;
}

.textoPrincipal p{
  letter-spacing: 2px;
 text-decoration: underline;
 text-decoration-color: #68B0DC;
 display: inline-block;
}

.Contenidos {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 3px 3px 3px #E8E9EB;
  padding: 20px;
}
.comillas{
  background-color: #64B6DD;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  color: white;
  font-size: 70px;
  position: absolute;
  margin-right: 150px;
  margin-top: 20px;
}

.ContenedorImg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  box-shadow: 10px -5px #60B7DE;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nombre{
  font-size: 25px;
  letter-spacing: 2px;
  margin: 0px;
  text-transform: capitalize;
}

.trabajo{
  font-size: 15px;
  color: #97BFCC;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.texto{
  width: 95%;
  font-size: 20px;
  color: #74797B;
}

.botones button{
  background-color: transparent;
  border: none;
}

.botones img{
  width: 20px;
  height: 20px;
}

.Random {
  margin-top: 10px;
  background-color: #AADCF9;
  border: #91B1C0 1px solid;
  border-radius: 10px;
  padding: 5px;
}

.siguenteParte{
  padding-top: 10px;
  text-decoration: none;
  color: black;
}